<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculo</title>
  
</head>
<body>
    <div class="flex-container">
      <div class="coluna1">
        <h1>CONTATOS</h1>
        <p>+55 11 93077-3726</p>
        <p>nick.nogueira02&#64;gmail.com </p>
        <p><a href="url">https://github.com/Nicolas-Augusto-Almeida</a></p>
      </div>
      <div>
        <h1>Nicolas Augusto Almeida Prado Nogueira</h1>
        <h2>RESUMO</h2>
        <p>Programador full stack </p>
      </div>
    </div>