<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculo</title>
  
</head>
<body>
    <div class="flex-container">
      <div class="collum-1">
        <div class="margin">
          <h2>CONTATOS</h2>
          <p>+55 11 93077-3726</p>
          <p>nick.nogueira02&#64;gmail.com </p>
          <div class="links">
          <p><a href="url">https://github.com/Nicolas-Augusto-Almeida</a></p>
        </div>
        </div>
        <div class="margin">
          <h2>HABILIDADES E COMPETENCIAS</h2>
          <ul class="list">
            <li>Conhecimento basico em front-end: Angular, HTML, CSS e TypeScript;</li>
            <li>Conhecimento basico em back-end: C e Java;</li>
            <li>Conhecimento basico em banco de Dados: MySQL;</li>
            <li>Ferramentas & Versionamento: Git, GitHub;</li>
          </ul>
        </div>
        <div class="margin">
          <h2>IDIOMAS</h2>
          <ul class="list">
            <li>Ingles - C1 (Avançado)</li>
          </ul>
        </div>
      </div>
      <div class="collum-2">
        <img src="assets/Imagens/nicolas.jpg" alt="Foto de Nicolas" width="150">
        <h1>Nicolas Augusto Almeida Prado Nogueira</h1>
        <h2>RESUMO</h2>
        <p>Busco uma oportunidade como Desenvolvedor Júnior, onde eu possa aplicar meus conhecimentos em C, Angular e JavaScript no desenvolvimento de soluções inovadoras. Possuo forte capacidade de aprendizado e sou fluente em Inglês (C2), o que me permite atuar em equipes internacionais. </p>
        
      </div>
    </div>
