<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculo</title>
  
</head>
<body>
    <div class="flex-container">
      
      <div class="collum-1">
        <img src="https://siga.cps.sp.gov.br/image//73AYHC3QRT6YL2EYGM7Z6QCN2MWXXF.TMB.JPG" class="imagem">
        <hr color="#fffff"/>
        
        <div >
          <h2>CONTATOS</h2>
          <div class="list">
            <span><img src="https://i.imgur.com/WDeVrOr.png" width="50" height="50" >
            +55 11 93077-3726</span>
          </div>
          
          <div class="list">
            <span><img src="https://i.imgur.com/oC3Tajt.png" width="50" height="50">
            nick.nogueira02&#64;gmail.com</span>
          </div>
          
          <div>
            <div class="list">
              <span><img class="" src="https://i.imgur.com/vQVv2Qb.png" width="50" height="50"> 
            <a href="https://github.com/Nicolas-Augusto-Almeida" target="_blank">  GitHub</a></span>
            </div>
          </div>
          
          <div class="divide1"></div>

        </div>
        
        <div >
          <h2>HABILIDADES E COMPETÊNCIAS</h2>
          <ul class="list">
            <li>Conhecimento básico em front-end: Angular, HTML, CSS e TypeScript;</li>
            <li>Conhecimento básico em back-end: C e Java;</li>
            <li>Conhecimento básico em banco de Dados: MySQL;</li>
            <li>Ferramentas & Versionamento: Git, GitHub;</li>
          </ul>
        </div>
        
        <div class="divide1"></div>
        
        <div >
          <h2>IDIOMAS</h2>
          <ul class="list">
            <li>Ingles - C1 (Avançado)</li>
          </ul>
        </div>
      </div>
      
      <div class="collum-2">
        <h1>Nicolas Augusto Almeida Prado Nogueira</h1>
        
        <div class="divide2"></div>

        <h2>RESUMO</h2>
        <div class="list">
          <p>Busco vagas de estágio na área de desenvolvimento de software para aplicar meus conhecimentos em Angular, HTML, CSS, TypeScript, C e Java. Tenho grande interesse em aprender novas tecnologias e contribuir para projetos inovadores. Possuo inglês nível C1 e facilidade para trabalhar em equipe. </p>
        </div>
        
        <div class="divide3"></div>
      
        <h2>PROJETOS PESSOAIS</h2>
        <div class="list">
          <ul>
            <li>Desenvolvimento de um protótipo acadêmico para controle de <a href="https://drive.google.com/drive/folders/1BleyQPGKd7JEVkYclYD0akv8gWqmY3vZ?usp=sharing" target="_blank">academia.</a>
          </ul>
        </div>
        
        <div class="divide3"></div>
        
        <h2>GRADUAÇÃO</h2>
        <div class="list">
          <ul>
            <li>Analise e desenvolvimento de sistemas, Fatec itu Dom amaury castanho – (2024 - 2027)</li>
          </ul>
        </div>
      </div>

    </div>
</body>